extends dashboard_layout

block title
    title Post a Job

block sidebar
    .employer-sidebar
      .user-info
        br
        img#profile-pic(src='/images/employer-default-profile-pic.png', alt='profile pic')
        h4
          strong Google
        p someone@example.com
      ul.nav.nav-pills.nav-stacked
        li
          a(href='postedjobs.html')
            | Posted Jobs
            span.glyphicon.glyphicon-chevron-right.pull-right
        li.active
          a(href='postajob.html')
            | Post a Job
            span.glyphicon.glyphicon-chevron-right.pull-right
        li
          a(href='profile.html')
            | Profile
            span.glyphicon.glyphicon-chevron-right.pull-right
        li
          a(href='#')
            | Log Out
            span.glyphicon.glyphicon-chevron-right.pull-right

block content
    .postjob-panel
      h2
        strong Post a Job
      br
      .postjob
        form.form-horizontal
          .form-group.row
            label.col-xs-3.control-label(for='jobtitle')
              | Job Title
            .col-xs-8
              input#jobtitle.form-control(type='text')
          .form-group.row
            label.col-xs-3.control-label(for='jobdesc')
              | Job Description
            .col-xs-8
              textarea#jobdesc.form-control(rows='5', maxlength='500')
              small
                i Max Length: 500 words
          .form-group.row
            label.col-xs-3.control-label
              | Job Duration
            // need verify that first date is < second
            .col-xs-8.row
              .col-xs-5
                input.form-control(type='date')
              .col-xs-2
                p#date-to to
              .col-xs-5
                input.form-control(type='date')
          .form-group.row
            label.col-xs-3.control-label
              | Remuneration
            .col-xs-2
              input.form-control(type='number')
              small SGD$
            .col-xs-2
              p#perhour per hour
          // need a better form for this
          .form-group.row
            label.col-xs-3.control-label
              | Skills Required
            .col-xs-8.row.skills-list
              .col-xs-4.skill
                .checkbox
                  input#java(type='checkbox')
                  label(for='java')
                    | Java
              .col-xs-4.skill
                .checkbox
                  input#javascript(type='checkbox')
                  label(for='javascript')
                    | Javascript
              .col-xs-4.skill
                .checkbox
                  input#python(type='checkbox')
                  label(for='python')
                    | Python
              .col-xs-4.skill
                .checkbox
                  input#html(type='checkbox')
                  label(for='html')
                    | HTML
              .col-xs-4.skill
                .checkbox
                  input#css(type='checkbox')
                  label(for='css')
                    | CSS
              .col-xs-4.skill
                .checkbox
                  input#sql(type='checkbox')
                  label(for='sql')
                    | SQL
          br
          button.btn.btn-primary.btn-block Post Job
