.student-sidebar
  .user-info
    br
    img#profile-pic(src='/images/student-default-profile-pic.png', alt='profile pic')
    h4
      strong John Doe
    p someone@example.com
    p 88888888
  ul.nav.nav-pills.nav-stacked
    li.active
      a(href='#')
        | Applied Jobs
        span.glyphicon.glyphicon-chevron-right.pull-right
    li
      a(href='/favourites')
        | Favourites
        span.glyphicon.glyphicon-chevron-right.pull-right
    li
      a(href='/profile')
        | Profile
        span.glyphicon.glyphicon-chevron-right.pull-right
    li
      a(href='#')
        | Log Out
        span.glyphicon.glyphicon-chevron-right.pull-right
